.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.program{
    flex-basis: 31%;
    position: relative;
    background-color: white;
    /* height: 100vh; */
    border-radius: 20px;
    text-align: center;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program .icon_program{
    margin-right: 10px;
}



.program-title{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-transform: uppercase;
    margin: 30px 0;
    color: darkcyan;
}

.items-program{
    margin: 20px;
}


.program-title ul li{
    list-style: none;
    text-align: left;
    margin: 10px;
}


.program-title button{
    width: 35%;
    height: 35px;
    border-radius: 50px;
    /* margin-top: 10px; */
    border: none;
    background-color: darkcyan;
    color: white;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: all .4s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.btn_program{
    
    margin-left: 120px;

}

.btn_box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_program2{
    font-size: 30px;
    position: relative;
    left: 80px;
}
/* ------- media query ------- */


@media (max-width: 850px){
    .programs{
        flex-direction: column;
    }

    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}