

/* Todo el Footer */

.wape-footer {
    
    width: 99.9%;
    height: 100%;
    /* background:linear-gradient(rgba(0, 24, 72, 0.7), rgba(0, 24, 72, 0.7)), url('../../assets/Plaza_Cusco.jpg'); */
    background:linear-gradient(rgba(0, 24, 72, 1), rgba(0, 24, 72,1 ));
    background-size: cover;
    background-position: center;
    color: white;
}

/* CURVAS DEL FOOTER  */
.wape-footer svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.wape-footer .shape-fill {
    fill: #f5f5f5;
}
/* FIN DE CURVAS DEL FOOTER */


/* Inicio del contenido del footer */

.contenedor_footer{
    /* background-color: blue; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


/* todas las columnas */
.col_footer{
    width: 20%;
    flex-basis: 25%;
    padding: 10px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* DETALLES EN GENERAL */

.col_footer h3{
    width: fit-content;
    margin-bottom: 40px;
    margin-top: 50px;
    position: relative;
    color: #fff;
}

.col_footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

.col_footer ul li a{
    text-decoration: none;
    color: #fff;
}

/* fin de todas las columnas */

/* COLUMNA UNO */


.uno_footer p{
    width: 80%;
    text-align: justify;
    margin: 5px;
}

.logo_footer{
    width: 200px;
    margin: 0px auto 30px auto;
}
/* fin de columna uno */

/* COLUMNA TRES  */

.tres_footer .reclamos-item{
    margin-top: 50px;
}


/* --- Mejoras para Libro de Reclamaciones --- */
.reclamos-item a {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff !important; /* Color llamativo para destacar */
}

.reclamos-icon {
    font-size: 1.1em;
}

/* FIN DE COLUMNA TRES */



/* COLUMNA CUATRO */


.cuatro_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: orange; */
    color: black;
}


/* formulario de la columana 4  */



.col_footer form{
    color: #ccc;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col_footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}


.col_footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

/* .col_footer form button .fas{
    font-size: 16px;

} */


/* fin de la columa formulario */

.cuatro_footer .social-icons{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
}

.cuatro_footer .social-icons .icons_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuatro_footer .social-icons .icons_footer li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;

}

.cuatro_footer .social-icons .icons_footer li a{
    color: black;
    width: 25px;
    padding: 3px;
}

/* FIN DE COLUMNA CUATRO */


/* ANIMACIONES DE LAS LINEAS DE TITULO  */



.underline{
    width: 100%;
    height: 3px;
    background-color: #f8f8f888;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}


.underline span{
    width: 30px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }

    100%{
        left: 100%;
    }
}


/* FIN DE LAS ANIMACIONES DE LAS LINEAS DE TITULO  */







/* final del footer */
.casilla_footer{
    margin: 10px auto;
    padding: 15px;
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #fff;
}





/* ------- media query ------- */


@media (max-width: 1000px){

    .wape-footer{
        height: 100%;
    }
    
    .col_footer{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


}


/* ... [TUS ESTILOS EXISTENTES] ... */


/* --- MODAL PARA PDF --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté encima de todo */
    padding: 20px;
}

.modal-content {
    background-color: #f5f5f5;
    width: 90%;
    max-width: 1000px;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #001848; /* Color de fondo del footer */
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-title {
    margin: 0;
    font-size: 1.2em;
}

.modal-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 1; /* Para alinear el icono correctamente */
    padding: 5px;
}

.modal-body {
    flex-grow: 1;
    padding: 0; /* El iframe gestiona su propio padding */
}

.modal-body iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}




/* --- Responsive para el modal en móvil --- */
@media (max-width: 700px) {
    .modal-content {
        width: 95%;
        height: 95%;
    }
}