nav{
    width: 100%;
    /* background: #333; */
    color: white;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}



.logo{
    width: 300px;
    transition: all .5s;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 7px;
    font-size: 16px;
    transition: all .5s;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100px;
    height: 50px;
    text-align: center;
    transition: all .5s;
    
}


.dark-nav{
    /* background: #212ea0; */
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,.7));
    transition: all .5s;
    height: 100px;
}

.dark-nav .collegue{
    width: 150px;
    transition: all .5s;
}

.menu-icon{
    display: none;
    transition: all .5s;
}

.btn-1{
  background: #fff;
  color: #212121;
  /* padding: 14px 25px; */
  /* font-size: 16px; */
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  /* display: inline-block;
  align-items: center;
  justify-content: center; */
}

/* ------- media query ------- */


@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 840px){
    nav{
        padding: 15px 0;
        margin-top: 25px;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,.7));
        z-index: -1;
        width: 100%;
        height: 100vh;
        padding-top: 70px;
        transition: 0.5s;
        margin-top: 50px;
    }

    nav ul li{
        display: block;
        margin: 40px 40px;
        text-align: center;
    }

    nav ul li a{
        text-align: center;
        margin: auto;
    }

  

    nav.container.dark-nav{
        margin-top: 0;
    }

     nav.container.dark-nav ul {
    transform: translateY(-50px);
  }



    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu{
        right: -100%;
    }
}