@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Outfit:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 400px; 
    padding: 20px; 
}


.hero-text{
    /* background-color: #0000FF; */
    text-align: center;
    padding: 15px;
    min-width: 600px;
}

.hero-text h1{
    margin-bottom: 30px;
    /* text-align: justify; */
    font-size: 45px;
}

.hero-text-uno{
    font-family: "Stack Sans Notch", sans-serif;
    /* background-color: red; */
    padding: 10px;
    font-size: 50px;
    width: 100%;
    align-items: center;
}

.hero-text-dos{
    font-family: "Stack Sans Notch", sans-serif;
    color: rgb(245, 170, 9);
    position: relative;
    left: 100px;
    top: 15px;
    /* background-color: black; */
    
}

.hero-text p{
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-text .btn{
    background-color: rgb(245, 170, 9);
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 16px;
}

.hero-text .btn .btn_2{
    font-size: 22px;
    font-weight: bold;
    display: flex;

}

.hero-text .btn .btn_1{
    font-size: 18px;
    margin-right: 10px;
}

.redes_uno{
    width: 700px;
    
}







/* --- PARA EL FORMULARIO --- */
.pre-matricula-form {
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,.7));
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    color: #fff;
}

.pre-matricula-form h2 {
    color: #fff; 
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Stack Sans Notch", sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
}

.input_01{
    margin-top: 20px;
}

.form-btn {
    background: rgb(245, 170, 9);

    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background: rgb(245, 170, 9);
}


.btn_2{
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}


/* ------- media query ------- */


@media (max-width: 900px) { 
    .hero {
        flex-direction: column; 
        text-align: center;
        gap: 40px;
        height: 100vh; 
        padding: 60px 20px;
    }

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
}

.note{
    padding: 0;
    margin: 0;
    position: relative;
    top: 160px;
}


    
.hero-text-uno{
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 40px;
}

.hero-text-dos{
    font-family: "Stack Sans Notch", sans-serif;
    color: rgb(245, 170, 9);
    text-align: center;
    position: relative;
    left: 0px;
    top: 15px;
    
}

.hero-text p{
    font-family: sans-serif;
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}


    
    .hero-text, .pre-matricula-form {
        max-width: 90%; 
    }

    .btn{
        position: relative;
        top: -60px;
    }

    .pre-matricula-form{
        /* margin-top: -200px; */
        position: relative;
        top: -90px;
    }
}

@media (max-width: 850px){
    .hero-text h1{
        font-size: 40px;
        margin-top: 150px;
        text-align: center;
    }
}

@media (max-width: 650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
    
}