@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Outfit:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

.title{
    text-align: center;
    color: #212ea0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    font-family: "Stack Sans Notch", sans-serif;
    
}


.title h2{
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
    font-family: "Stack Sans Notch", sans-serif;
    display: flex;
    flex-direction: column;
}

.line_title{
    width: 20%;
    margin: 10px auto;
    height: 1px;
    border: #000F38 solid 2px;
    border-radius: 50px;
}

